body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

form {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  display: flex;
  height: 47px;
}
form input[type=text] {
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 0 0 0 10px;
  background-color: #e2e2e2;
}
form label[for=name] {
  font-weight: 800;
}
form input[id=name] {
  color: #595959;
  font-weight: 700;
  font-size: 1.08rem;
  width: 150px;
}

.form {
  background-color: #e2e2e2;
  border-top: solid 4px #c9c9c9;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 10px 0;
}

header {
  background-color: #efefef;
  padding: 0 0 60px 0;
}
header .title {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}
header #subtitle {
  color: #595959;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.bouton-explorer {
  width: 235px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.button-titre {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  padding-left: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
}

.fa-solid.fa-mobile-screen-button {
  padding: 0 20px 0 0px;
  color: #595959;
  font-size: 1.2rem;
}

.fa-solid.fa-list-ul {
  padding: 0 20px 0 0px;
  color: #595959;
  font-size: 1.2rem;
}

.fa-solid.fa-store {
  padding: 0 20px 0 0px;
  color: #595959;
  font-size: 1.2rem;
  color: #9356DC;
}

.fonctionnement {
  height: 330px;
}

.two {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
}

.three {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
}

.button1, .button2, .button3 {
  position: relative;
}

.one {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
}

.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  background-color: #efefef;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-evenly;
}
.restaurants-cards .label {
  padding: 20px 0 20px 20px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  width: 330px;
  margin-bottom: 20px;
  position: relative;
}
.restaurants-cards .label-titre {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 30px;
}
.restaurants-cards .label-titredescriptif {
  color: #595959;
}

.restaurants-cards img {
  width: 350px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/*
.fa-regular.fa-heart{
    float: right;
    padding: 0 20px ;
    font-size: 1.5rem;
    font-weight: 400;
    color: $lighterblack;
}*/
.fa-regular.fa-heart {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #595959;
}

footer {
  background-color: #595959;
}
footer .footer-title {
  color: #fff;
  font-weight: normal;
}
footer .fa-solid.fa-utensils {
  color: #fff;
  font-size: 16px;
}
footer .fa-solid.fa-handshake-angle {
  color: #fff;
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
.footer .texte {
  color: #fff;
  padding: 0 0 20px 20px;
  font-size: 1.1rem;
}
.footer-title {
  margin-left: 30px;
  padding-top: 20px;
}

.footer-li {
  list-style: none;
}

.footer li a {
  display: flex;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */