footer{
    background-color: $darkenBlack;
    padding-left: 20px;
    padding-bottom: 30px;

    @media (min-width: 600px){
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
    }
    .fa-solid.fa-utensils{
        color: #fff;
        font-size:16px;
        padding:0 10px 0 0px;
    }
    .fa-solid.fa-handshake-angle{
        color: #fff;
        font-size:16px;
        padding:0 10px 0 0px;
    }
}

.footer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    @media (min-width:$smallScreen){
        align-items: center;
    }
    @media (min-width:$xxlScreen){
        flex-direction: row;
        justify-content: center;
    }
    .texte{
        color: #fff;
        padding:0 ;
        font-size: 1.1rem;
        @media (min-width:$xxlScreen){
            padding-right: 30px;
        }
    }
    &-title{
        margin-left: 30px;
        padding-top: 20px;
        color: #fff;
        font-weight: normal;
        margin: 0;
        @media (min-width:$smallScreen){
            text-align: center;
          
        }
    }   
}

ul{
    padding: 0;
    padding: 0 0 20px 0;  
}

.footer-li{
    list-style: none;
    padding: 0 0 20px 0;
}

.footer li a{
    display: flex;
    text-decoration: none;
}

.restaurants-cards a{
    color: black;
    text-decoration: none;
}