.fa-heart{
  transition: fill 2s ease-in-out;
 
}

.fa-heart:hover{
  -webkit-text-fill-color: $primaire;
  -webkit-text-stroke-width: 9px;
  -webkit-text-stroke-color: $primaire;
}

.repas0{
  animation: appear 1s;
}
.repas1{
  animation: appear 1.5s;
}
.repas2{
  animation: appear 2s;
}
.repas3{
  animation: appear 2.5s;
}
.repas4{
  animation: appear 3s;
}
.repas5{
  animation: appear 3.5s;
}
.repas6{
  animation: appear 4s;
}
.repas7{
  animation: appear 4.5s;
}
.repas8{
  animation: appear 5s;
}
.repas9{
  animation: appear 5.5s;
}



@keyframes appear{
  from{
    opacity: 1;

  }
  to{
    opacity: 0;
  }
}


/*
.decale-entrees{
    animation: appear 5s;
    opacity:1;
    
    }
    
    @keyframes appear {
        from{
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    
  .decale-plat{
    animation: plats 5s;
    animation-delay: 0s;
    animation-duration: 10s;
    opacity:1;
  }

  @keyframes plats {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .decale-desserts{
    animation: desserts 5s;
    animation-delay: 0s;
    animation-duration: 15s;
    
  }
  @keyframes desserts {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }*/

  .repas__animation {
    position: absolute;
    height: 100px;
    width: 20%;
    background-color: darkcyan;
    color: white;
    right: 0;
    top: 0%;
    text-align: right;
    line-height: 5;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: all ease-out 400ms;
    transition: all ease-out 400ms;
      @media (min-width:600px){
        line-height: 7;
      }
      
  }

  .repas__animation--icon {
    -webkit-transition: all ease-out 400ms;
    transition: all ease-out 400ms;
  }

  .repas__animation--cout {
    color: $black;
    background-color: white;
    text-align: left;
   
    -webkit-transition: all ease-out 400ms;
    transition: all ease-out 400ms;
    
  }

  .repas:hover {
    cursor: pointer;
  }

  .repas:hover .repas__animation--cout {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }

  .repas:hover .repas__plat {
  width:55%
}

  .repas:hover .repas__plat--accompagnement {
    width: 55%;
  }

  .repas:hover .repas__animation--icon {
    -webkit-transform: translateX(-30px) rotate(360deg);
            transform: translateX(-30px) rotate(360deg);
  }

 
