h1{
    font-size: 1.8rem;
    font-weight: 500;
}
h2{
    font-family: $fontroboto;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}
.head-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;

}
.fa-solid.fa-arrow-left{
    position: absolute;
    font-size: 1.3rem;
    left: -90px;
    top: 17px;
    font-weight: 700;
    color: #000;
}



.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    margin: 10px;
    position: relative;

    
}

.container{
 background-color: $lightergrey;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 position:absolute;
 top: 300px;
 width: 100%;
 
 
    
}

.top-image img{
   height: 290px;
   width: 100%;
   object-fit: cover;
  
}


.gout{
   position:relative;
   padding: 0 0 0 20px;
  
   
   
}
.fa-regular.fa-heart{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: $lighterblack;
}
.fa-heart{
    transition: fill 2s ease-in-out;
   
}

.fa-heart:hover{
    -webkit-text-fill-color: $primaire;
    -webkit-text-stroke-width: 9px;
    -webkit-text-stroke-color: $primaire;
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin: 30px 0 10px 0 ;
        button{
            width: 95%;
            height: 80px;
            margin: 0 0 15px 0;
            border: none;
            text-align: left;
            background-color: #fff;
            border-radius: 20px;

        .gras{
            font-size: 1.1rem;
            line-height: .5;
            padding-top: 10px;
            font-weight: 700;
    }
    }
}

.gras-descriptif{
    position: relative;
    font-size: 1rem;
    color: $lighterblack;
}
.tarif{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.menu-plats, .menu-desserts, .menu-entree{
    border-bottom: 3px solid $tertiaire;
    display: inline;
    
    color: $lighterblack;
    margin-left: 20px;
}

.menu-plats{
    margin-left: 50px;
}

.commander{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 35%;
    height: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    color: #fff;
    background-color: $secondaire;
    border: none;
    border-radius: 20px;
   
  
}

