body{
    margin: 0;
    padding: 0;
    h1{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        letter-spacing: 1px;

}

}

form{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    display: flex;
    height: 5vh;
    
   
    input[type=text]{
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 0 0 0 10px;
        background-color: $grey;
    }
    label[for=name]{
       
    }

}

.form{
    background-color: $grey;
}
