body{
    margin: 0;
    padding: 0;
   font-family: $fontroboto;

    h1{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        letter-spacing: 1px;

}

}

form{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    display: flex;
    height: 5vh;
   
    
    
   
    input[type=text]{
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 0 0 0 10px;
        background-color: $grey;
    }
    label[for=name]{
        
        font-weight: 800;
    }

    input[id=name]{
        color: $lighterblack;
        font-weight: 700;
        font-size: 1.08rem;
        width: 150px;
    }

}

.form{
    background-color: $grey;
    border-top: solid 4px $darkengrey ;
   
}

.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    @include flex-center;
    margin: 10px 0;
    

}