

form{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    display: flex;
    height: 47px;
    
   
   
    input[type=text]{
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 0 0 0 10px;
        background-color: $lightergrey;
    }
    label[for=name]{
        
        font-weight: 800;
    }

    input[id=name]{
        color: $lighterblack;
        font-weight: 700;
        font-size: 1.08rem;
        width: 150px;
    }

}

.form{
    background-color: $grey;
    border-top: solid 4px $darkengrey ;
   
}

.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    @include flex-center;
    margin: 10px 0;
}

header{
    background-color:$lightergrey;
    padding: 0 0 60px 0;
    .title{
        margin-top: 0px;
        padding-top: 30px;
        font-size: 1.7rem;
        font-family: 'Shrikhand', cursive;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
        
    }
    #subtitle{
        color: $lighterblack;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

}

.bouton-explorer{
    width: 235px;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom, $secondaire, $primaire);

}

.button-titre{
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 50px;
    @media (min-width:$smallScreen){
        text-align: center;
    }


    }

.medaillon{
    top: 20px;
    left:-10px;
    background-color: $primaire;
    width:30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;  
    }

.button{
    background-color: $lightergrey;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    width: 90%;
    @media (min-width:$smallScreen){
        width: 70%;
    }
    

    }

    
 .new{
        position: absolute;
      
        margin-top: 15px;
        height: 25px;
        width: 80px;
        background-color: $tertiaire;
        border: none;
        border-radius: 2px;
        color: $tertiaire-darker;
        font-weight: 700;
    }
    

.fa-solid.fa-mobile-screen-button{
    @include icon-button;
}

.fa-solid.fa-list-ul{
    @include icon-button;
}
.fa-solid.fa-store{
    @include icon-button;
    color: $primaire;
}
.fa-solid.fa-arrow-left{
    color:$lighterblack;
}

.fonctionnement{
        border: 2px solid red($color: #000000);
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
/*---------------------------*/
.restaurants{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    background-color: $lightergrey;
        @media (min-width:$largeScreen){ 
            display: flex;
	        flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            flex-wrap: wrap;
        }
        @media (min-width:$xlScreen){
            padding:  0 20px;  
        }
        @media (min-width:$xxlScreen){
            flex-direction: column;
        }

    &-title{
        padding-left:20px;
        background-color:$lightergrey;
        margin-bottom: 0;
        padding-bottom: 30px;
        padding-top: 40px; 
            @media (min-width:$smallScreen){
                text-align: center;
            }
            @media (min-width:$largeScreen){
                text-align: left;
                padding-left: 50px;
            } 
            @media (min-width:$xxlScreen){
                text-align: center;
            }
    }
    
    }

.restaurants-cards{
    padding: 20px 0 20px 20px;

    .label{
        border-radius: 0 0 20px 20px;
        background-color:#fff;
        width: 330px;
        margin-bottom: 20px;
        position: relative;
        @media (min-width: $smallScreen){
            width: 380px;
        }
            @media (min-width:$mediumScreen){
                margin-bottom: 40px;
            }
                @media (min-width:$largeScreen){
                   
                }
                @media (min-width:$xlScreen){
                    width: 450px;
                }
                @media (min-width:$xxlScreen){
                    width: 900px;
                }

        &-titre{
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 30px;
            padding-left: 10px;
            
        }
        &-descriptif{
            padding-bottom: 10px;
            padding-left: 10px;
            color: $lighterblack;
            font-weight: 500;
        }
            
    }

}


.restaurants-cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
        @media (min-width:$xlScreen){
        height: 210px;
        }
        @media (min-width:$xxlScreen){
            height: 300px;
        }
}
/*
.fa-regular.fa-heart{
    float: right;
    padding: 0 20px ;
    font-size: 1.5rem;
    font-weight: 400;
    color: $lighterblack;
}*/

.fa-regular.fa-heart{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0 20px ;
    font-size: 1.5rem;
    font-weight: 400;
    color: $lighterblack;
    
}



footer{
    background-color: $lighterblack;
   
    
    .footer-title{
        color: #fff;
        font-weight: normal;
        margin-top: 0;
    }
        .fa-solid.fa-utensils{
            color: #fff;
            font-size:16px;
        }
        .fa-solid.fa-handshake-angle{
            color: #fff;
            font-size:16px;
        }


}

.footer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    @media (min-width:$smallScreen){
        align-items: center;
    }
    @media (min-width:$xxlScreen){
        flex-direction: row;
        justify-content: center;
    }

   
    .texte{
        color: #fff;
        padding:0 0 20px 20px;
        font-size: 1.1rem;
    }
    &-title{
        margin-left: 30px;
        padding-top: 20px;
        @media (min-width:$smallScreen){
            text-align: center;
          
        }
    }

    
}


.footer-li{
    list-style: none;
   
}

.footer li a{
    display: flex;
    text-decoration: none;
   
    
}



.restaurants-cards a{
    color: black;
    text-decoration: none;
}

 
/* spinner-------------------------*/


.loader{
    background-color: $lightergrey;
    opacity: .95;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 2;
    animation: retrait 3s;
    animation-fill-mode: forwards;
    transform-origin: top;
    animation-delay: 1s;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    border-radius: 60px;
    animation-delay: 2s;
}

@keyframes retrait {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

.animation{
	
    color: $primaire;
    font-size: 2.5rem;
    border: solid $grey 5px;
    animation: spin 3s;
    height: 280px;
    width: 260px;
    border-radius: 50%;
    border: 5px solid ;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

