

form{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    display: flex;
    height: 47px;
   
    input[type=text]{
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 0 0 0 10px;
        background-color: $grey;
    }
    label[for=name]{
        
        font-weight: 800;
    }

    input[id=name]{
        color: $lighterblack;
        font-weight: 700;
        font-size: 1.08rem;
        width: 150px;
    }

}

.form{
    background-color: $grey;
    border-top: solid 4px $darkengrey ;
   
}

.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    @include flex-center;
    margin: 10px 0;
    

}

header{
    background-color:$lightergrey;

    padding: 0 0 60px 0;
    
    

    .title{
        margin-top: 0px;
        padding-top: 30px;
        font-size: 1.7rem;
        font-family: 'Shrikhand', cursive;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
    }
    #subtitle{
        color: $lighterblack;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

}

.bouton-explorer{
    width: 235px;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom, $primaire, $secondaire);

}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
    

}

    .container-titre{
       margin-top: 90px;
       padding-left: 20px;
        display: flex;
        flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    }

