.decale-entrees{
    animation: appear 3s;
    opacity:1;
    }
    
    @keyframes appear {
        from{
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    

  .decale-plat{
    animation: plats 5s;
    animation-delay: 0s;
    animation-duration: 8s;
    opacity:1;
  }

  @keyframes plats {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


  .decale-desserts{
    animation: desserts 5s ;
    animation-delay: 0s;
    animation-duration: 15s;
   
  }
  @keyframes desserts {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
     