
.titre{
  position:relative;
  padding: 0 0 0 20px;
  font-size: 1.7rem;
  font-weight: 500; 
}
h2{
    font-family: $fontroboto;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

h3{
  font-weight: 500;
}

.head-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
  font-family: $fontshrikhand;

}
.fa-solid.fa-arrow-left{
    position: absolute;
    font-size: 1.3rem;
    left: -90px;
    top: 17px;
    font-weight: 700;
    color: #000;
}

.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    margin: 10px;
    position: relative;
    font-weight: 700;

}

.fa-regular.fa-heart{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
}

.menu-entree, .menu-plats, .menu-desserts  {
  padding-left: 20px;
}
 .ligne{
 border: solid 2px $tertiaire;
 width: 50px;
 margin-top: 5px;
 }

.container{
    background-color: $lightergrey;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position:absolute;
    top: 300px;
    width: 100%;
    @media (min-width: 600px){
        top: 340px;
    }
 
}

.top-image img{
   height: 290px;
   width: 100%;
   object-fit: cover;
   @media (min-width: 600px){
   
   }
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin: 30px 0 10px 0 ;
   
}


.carte{
  background-color: rgb(228, 241, 241);
  width: 100%;
  height: 80px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all ease-out 400ms;
  transition: all ease-out 400ms;
  overflow: hidden;
  margin: 0 15px 20px 15px;
  .repas{
    width: 100%;
    display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  align-items: baseline;
	  align-content: stretch;
    background-color: white;
    height: 100px;
    -webkit-transform-origin: left;
            transform-origin: left;
    padding:15px 0 0 15px;
    
  }
  .repas__plat {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0; 
    font-size: 1rem;
    padding-top: 5px;
}
  .repas__plat--accompagnement{
    padding: 10px 0;
    color: $black;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    padding-top: 5px;
    

  
}
}

.cout{
  height: 100px;
  margin: 0;
  color: #000;
  font-weight: 700;
  padding-left: 20px;
}


.commander{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 35%;
    height: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.1rem;
    color: #fff;
    background-color: $secondaire;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to top, $primaire, $secondaire);
    box-shadow: -3px 5px 5px $darkengrey, 3px 5px 5px $darkengrey;
    
    
}

