
.titre{
  position:relative;
  padding: 0 0 0 20px;
  font-size: 1.7rem;
  font-weight: 500;
  @media (min-width: 600px){
    margin-top: 20px;
    padding-left: 40px;
  
  }
  @media (min-width: 768px){
    text-align: center;
    margin-top: 30px;
    padding-left: 0;
  }
}
h2{
    font-family: $fontroboto;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

h3{
  font-weight: 500;
}

.head-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
  font-family: $fontshrikhand;
}

.fa-solid.fa-arrow-left{
    position: absolute;
    font-size: 1.3rem;
    left: -90px;
    top: 17px;
    font-weight: 700;
    color: #000;
}

.logo{
    font-family: $fontshrikhand;
    font-size: 2rem;
    margin: 10px;
    position: relative;
    font-weight: 700;
    @media (min-width:600px){
      margin: 20px 0;
    }  
}

.fa-regular.fa-heart{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
}

.menu-entree, .menu-plats, .menu-desserts  {
  padding-left: 20px;
  @media (min-width:600px){
    padding-left: 40px;
  }
  @media (min-width:768px){
    padding-left: 50px;
  }
  @media (min-width:992px){
    padding-left: 60px;
  }
  @media (min-width:1200px){
    padding-left: 70px;
  }
}

 .ligne{
 border: solid 2px $tertiaire;
 width: 50px;
 margin-top: 5px;
 }

.container{
    background-color: $lightergrey;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position:absolute;
    top: 300px;
    width: 100%;
    @media (min-width: 600px){
      top: 370px;
    }
    @media (min-width:768){
      top:410px ;
    }
    @media (min-width:992px){
      top: 440px;
    }
    @media (min-width: 1200px){
      top:450px ;
    }
}

.top-image img{
   height: 290px;
   width: 100%;
   object-fit: cover;
   @media (min-width: 600px){
   height: 310px;
   object-fit: cover;
   }
   @media (min-width:768px){
    height: 340px;
   }
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin: 30px 0 10px 0 ;
}

.carte{
  background-color: rgb(228, 241, 241);
  width: 100%;
  height: 80px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all ease-out 400ms;
  transition: all ease-out 400ms;
  overflow: hidden;
  margin: 0 15px 20px 15px;
    @media (min-width: 600px){
    height: 100px;
    width: 90%;
  }
    .repas{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: baseline;
      align-content: stretch;
      background-color: white;
      height: 100px;
      -webkit-transform-origin: left;
      transform-origin: left;
      padding:15px 0 0 15px;
      width: 100%;
  }
    .repas__plat {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      margin: 0; 
      font-size: 1rem;
      padding-top: 5px;
      text-overflow: ellipsis;
        @media (min-width:600px){
        font-size: 1.2rem;
        line-height: 30px;
      }
}
    .repas__plat--accompagnement{
      color: $black;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1rem;
      padding-top: 5px;
      @media (min-width: 600px){
        font-size: 1.1rem;
        padding: 10px 0;
    }
      @media (min-width: 768px){
        font-size: 1.2rem;
    }
}
}

.cout{
  height: 100px;
  margin: 0;
  color: #000;
  font-weight: 700;
  padding-left: 20px;
  @media (min-width:$mediumScreen){
    padding-left: 55px;
  }
  @media (min-width:$largeScreen){
    padding-left: 75px;
  }
}

.commander{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 35%;
    height: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.1rem;
    color: #fff;
    background-color: $secondaire;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to top, $primaire, $secondaire);
    box-shadow: -3px 5px 5px $darkengrey, 3px 5px 5px $darkengrey;
    &:hover{
      background: linear-gradient( to top, $lightPrimaire, $lightSecondaire);
      box-shadow: $strongShadow;
    }
      @media (min-width:768px){
        height: 70px;
    }
}

