$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:#99E2D0;
$lightPrimaire:lighten($primaire, 5%);
$lightSecondaire:lighten($secondaire, 5%);
$tertiaire-darker:darken($tertiaire,35%);
$grey: #e2e2e2;
$lightergrey: lighten($grey,7%);
$shadow: (2px 7px 7px 2px #CFCFCF);
$strongShadow:(0px 1px 10px 1px);
$darkengrey: darken($grey,5%);
$black: #45474a;
$darkenBlack: darken($black,4%);
$lighterblack:lighten($black,35%);
$fontroboto:'Roboto', sans-serif;
$fontshrikhand:'Shrikhand', cursive;
$greyAccueil: #f4f4f4;
$lighterngreyAcceuil: lighten($greyAccueil,2%);

$smallScreen: 600px;
$mediumScreen: 768px;
$largeScreen: 992px;
$xlScreen: 1200px;
$xxlScreen: 1440px;

@media(min-width: $smallScreen){}


@mixin flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

@mixin number{
    position: absolute;
    left: -10px;
    background-color: $primaire;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
}

@mixin icon-button{
    padding: 0 20px 0 0px;
    color: $lighterblack;
    font-size: 1.2rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: $fontroboto;
    box-sizing: border-box;
    overflow-x: hiden;
    margin-right: auto;
    margin-left: auto;

}


h1, h2 , h3{
    font-family: $fontshrikhand;
}







