$primaire: #9356DC;
$secondaire: #FF79DA;
$grey: #e2e2e2;
$lightergrey: lighten($grey,5);
$shadow: (4px -7px 15px 2px #CFCFCF);
$darkengrey: darken($grey,10);
$black:#000;
$lighterblack:lighten($black,35);
$fontroboto:'Roboto', sans-serif;
$fontshrikhand:'Shrikhand', cursive;


@mixin flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

@mixin number{
    position: absolute;
    left: -10px;
    background-color: $primaire;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
}

@mixin icon-button{
    padding: 0 20px 0 0px;
    color: $lighterblack;
    font-size: 1.2rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: $fontroboto;
    box-sizing: border-box;
    overflow-x: hiden;
    margin-right: auto;
    margin-left: auto;

}


h1, h2 , h3{
    font-family: $fontshrikhand;
}







